.article-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(241, 241, 234);
    color: black;
    gap: 18px;
    padding: 20px;
  }


  .buttoncuk{
    padding: 15px;
  }

  @media screen and (max-width: 768px){
    .article-container{
      gap: 0px;
    }


  }