.footer-container {
    background-color: #242424;
    padding: .1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .social-media {
    max-width: 1000px;
    width: 100%;
  }
  
  .social-media-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    max-width: 1000px;
    margin: 20px auto 0 auto;
  }

  .website-rights {
    color: #fff;
    margin-bottom: 16px;
    font-size: 15px;
  }