.box-container {
    max-width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    letter-spacing: 0.02em;
  }

  .box-container img{
    display: block;
    width: auto;
    max-height:310px;
    display: block;
  }

  .article-title{
    /* display: flex;
    justify-content: center;
    align-items: center; */
    font-size: 20px;
  }